<%=render "shared/navbar"%>
<h1 class="text-center mt-2">admin index page <span><%=current_admin.restaurants.find_by(admin_id: current_admin).name%></span></h1>
<%=link_to "Add Dish", new_dish_path%>
 
<table class="container table table-hover"> 
  <thead>
    <tr class="text-center">
      <th>Serial Number</th>
      <th scope="col">Image</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Customer</th>
      <th>Action<th>
    </tr>
  </thead>
  <% i = 0%>
  <%@admin_orders.each do |order|%>
    <tr class="text-center">
      <td><%=i+1%></td>     
      <td><img src="<%= url_for(@dishes.find(order.dish_id).dish_image)%>" alt="..."width="50" height="50"></td>
      <td><%=order.name%></td>
      <td><%=order.price%></td>
      <td><%=@users.find(order.user_id).name%></td>
      <td><%=link_to "view", order%></td>
  </tr>
  <% i = i+1%>
  <%end%>

  </tbody>
</table>
<%=render "shared/footer"%>