<%=render "shared/navbar"%>
<h1 class="mt-2">Dashboard</h1>
<div class="d-flex justify-content-center">
<%= form_with model:@restaurants do |form| %>
  <%= form.collection_select :restaurant_id, current_admin.restaurants.order(:name),:id, :name,class:'form-select'%>
<% end %>
</div>
<%=link_to "Create new restaurant", new_restaurant_path, class:'btn btn-primary mx-2'%>
<%=link_to "Add Dish", new_dish_path, class:'btn btn-primary mx-2'%>
<%=render "shared/side_nav"%>
 
<h1 class="text-center mt-2">My restaurants</h1>
<table class="container table table-hover"> 
  <thead>
    <tr>
      <th>Restaurant Number</th>
      <th>Edit Action</th>
      <th>Show Action</th>
    </tr>
  </thead>
  <tbody>
  <%@rest.each do |res|%>
    <tr>
      <td><%= res.name %></td>
      <td><%=link_to "edit", edit_restaurant_path(res)%></td>
      <td><%=link_to "show", admin_path(res)%></td>
    </tr> 
  <%end%>
  </tbody>
</table><br>
<h1 class="text-center mt-2">Orders Details</h1>
<table class="container table table-hover"> 
  <thead>
    <tr class="text-center">
      <th>Serial Number</th>
      <th scope="col">Image</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Customer</th>
      <th scope="col">Restaurant Name</th>
      <th>Action<th>
    </tr>
  </thead>
  <% i = 0%>
  <%@admin_orders.each do |order|%>
    <tr class="text-center">
      <td><%=i+1%></td>
      <td><%= image_tag(fetch_image(order.dish_id), size:'50x50') %></td>
      <td><%=order.name%></td>
      <td><%=order.price%></td>
      <td><%= fetch_user_name(order.user_id) %></td>
      <td><%= fetch_restaurant_name(order.restaurant_id) %></td>
      <td><%=link_to "view", order%></td>
  </tr>
  <% i = i+1 %>
  <%end%>
  </tbody>
</table>
<%=render "shared/footer"%>