<%=render "shared/navbar"%>
<h1 class="text-center">Order index page</h1>
 
<table class="container table table-hover"> 
  <thead>
    <tr class="text-center">
      <th>Serial Number</th>
      <th scope="col">Image</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Restaurant</th>
      <th>Action<th>
    </tr>
  </thead>
  <tbody>
  <%i=0%>
  <%@orders.each do |order|%>
    <tr class="text-center">
      <td><%=i+1%></td>     
      <td><img src="<%= url_for(@dishes.find(order.dish_id).dish_image)%>" alt="..."width="50" height="50"></td>
      <td><%=order.name%></td>
      <td><%=order.price%></td>
      <td><%=@restaurants.find(order.restaurant_id).name%></td>
      <td><a href="/orders/<%=order.dish_id%>">view</a></td>
    </tr>
    <%i=i+1%>
  <%end%>
  </tbody>
</table>
<%= render "shared/footer"%>