<%=render "shared/navbar"%>
<h1 class="text-center">My Orders</h1>
 
<table class="container table table-hover"> 
  <thead>
    <tr class="text-center">
      <th>Serial Number</th>
      <th scope="col">Image</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Restaurant</th>
      <th>Action<th>
    </tr>
  </thead>
  <tbody>
  <% i=0 %>
  <% @orders.each do |order| %>
    <tr class="text-center">
      <td><%= i+1 %></td>     
      <td><%= image_tag(fetch_image(order.dish_id), size:'50x50') %></td>
      <td><%= order.name %></td>
      <td><%= order.price %></td>
      <td><%= fetch_name(order.restaurant_id) %></td>
      <td><%= link_to "view", order_path(order.dish_id) %></td>
    </tr>
    <% i=i+1 %>
  <% end %>
  </tbody>
</table>
<%= render "shared/footer"%>