<%= render "shared/navbar"%>
<h1 class="text-center">index page</h1>

<div class="text-center  mb-3">
  <%= search_form_for @q, action: :index do |f| %>
    <%= f.search_field :name_cont, placeholder:"",class:''%>      
    <%= f.submit class:''%>    
  <% end %>
</div>
<div class="container">
<div class="row mx-0">
  <% @restaurants.each do |restaurant| %>
    <div class="col text-center">
      <div class="card" style="width: 18rem;">
      <%= link_to restaurant_path(restaurant), class:'text-decoration-none text-dark' do %> 
        <%= image_tag(restaurant.restaurant_image, size:'280x250') if restaurant.restaurant_image.attached? %> 
        <div class="card-body">
          <h5 class="card-title"><%=restaurant.name%></h5>
          <p class="card-text"><%=restaurant.description%></p>    
        </div>
      <% end %>
      </div>
    </div>
  <%end%>
</div>
</div>

<%= render "shared/footer"%>