<%=render "shared/navbar"%>
<div class="mx-2">
<h1><span class="border-bottom">Review</span></h1>
  <%@restaurants.each do |restaurant|%>
    <%restaurant.reviews.each do |review|%>
      <span class="text-primary">
      <span> <%= fetch_email(review.user_id)%> </span>
    <h6 class="text-dark"> <%= review.review %> (<span class="text-danger"><%= restaurant_name(review.id) %> </span>)</h6>
    <% end %>
  <%end%>
</div>
<%=render "shared/footer"%>