<%=render "shared/navbar"%>
<div class="mx-2">
<% debugger %>
<h1><span class="border-bottom">Review</span></h1>
  <%@reviews.each do |review|%>
    <%review.reviews.each do |r|%>
      <span class="text-primary">
      <span> <%= fetch_email(r.user_id)%> </span>
    <h6 class="text-dark"> <%= r.review %> (<span class="text-danger"><%= restaurant_name(r.id) %> </span>)</h6>
    <% end %>
  <%end%>
</div>
<%=render "shared/footer"%>